



<div id="messagepanel">
    <div class="headermessage">
        <h1 >{{stringonheader}}</h1>
        <a (click)="toLobbies()">Back To Lobby</a>
    </div><br><br><br>
        <div class="messages" *ngFor="let message of messages;let i=index">
 {{talkersorder[i]}} :{{message}}
</div>
</div>


<div class="form-group row" >
    <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()"
     class="form-control form-control-lg" placeholder="Send a message" id="inputLarge" type="text">
     <button (click)="sendMessage()" type="button" class="btn btn-success">Send</button>
    </div>






