/* You can add global styles to this file, and also import other style files */
body{
    background-color:#3D3D50;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.contentplace{
    background-color: #303030;
    border-radius: 20px;
    width: 100%;
    margin:0px;
    margin-top: 50px;
    padding-top: 1rem;
}